html, body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  height: 100%;
}

.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  background-color: #fff5ec;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  padding: 20px;
  background-color: #ffd5c2;
  flex: 1;
  box-sizing: border-box;
}
.other-box{
  flex: 2;
}